.list-checkbox{
    @include flex(center, flex-start);

    cursor: pointer;
    input{
        position: absolute;
        width: 0;
        height: 0;
        cursor: pointer;
        opacity: 0;
    }

    &__checkmark{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border: 1px solid $txt-second-color;

        i{
            transition: transform 0.3s ease;
            transform: scale(0);
        }
    }

    &:hover{
        color: $main-color;
    }

    input:checked ~ &__checkmark{
        color: $txt-white;
        border: 1px solid $main-color;
        background-color: $main-color;
    }

    input:checked ~ &__checkmark > i{
        transform: scale(1);
    }
}